{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <br>
        <div class="shadow-sm p-3 mb-5 bg-white rounded">
            <h2>Welcome To CarBin</h2>
            <p>Find an Electric Car that's Great for the Environment and Exceeds your Expectations.</p>
           	<br>
            <p>Enter your License Plate Number</p>
			<form method="GET" action="/results" style="margin-bottom:-12px">
				<div class="input-group mb-3">
					<input required name="plate" class="form-control" id="plate-input" style="display:inline-block" />
					<div class="input-group-append">
						<input style="display:inline-block; background-color: #76C893; color: white;" value="Go" type="submit" class="btn"></input>
					</div>
				</div>
			</form>
			<br>
			<p><b>Or</b> Enter your Car's VIN Number</p>
			<form method="GET" action="/results" style="margin-bottom:-12px">
				<div class="input-group mb-3">
					<input required name="vin" class="form-control" id="vin-input" style="display:inline-block" value="JTJZK1BA1D2009651" placeholder="Car's Vin Number" />
					<div class="input-group-append">
						<input style="display:inline-block; background-color: #76C893; color: white;" value="Go" type="submit" class="btn"></input>
					</div>
				</div>
			</form>
			<br>
			<p><b>Or</b> Upload a Picture of your License Plate</p>
			<form method="GET" action="/results" style="margin-bottom:-12px">
				<div class="input-group mb-3">
					<input required name="vin" class="form-control" id="vin-input" style="display:inline-block" value="JTJZK1BA1D2009651" placeholder="Car's Vin Number" />
					<div class="input-group-append">
						<input style="display:inline-block; background-color: #76C893; color: white;" value="Go" type="submit" class="btn"></input>
					</div>
				</div>
			</form>

            <!-- <h3>Or Upload Barcode</h3> -->
            <!-- <form method="post" action="/upload" enctype="multipart/form-data">
              <input type="file" name="file1">
              <input type="submit">
            </form> -->

        </div>
    </div>
</body>
<script>
    function getData() {
        var vin = document.querySelector("#vin-input").value

        $.ajax({
            url: '/postData/' + vin,
            success: function (data) {
                console.log(data)
            },
            type: 'GET'
        });
    }
</script>
{% endblock %}
