{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <br>
        <div class="shadow-sm p-3 mb-5 bg-white rounded">
            <h2>Welcome To CarBin</h2>
            <p>Find an Electric Car that's Great for the Environment and Exceeds your Expectations.</p>
            <p>Enter your License Plate Number</p>
		<form method="GET" action="/results" style="margin-bottom:-12px">
			<div class="input-group mb-3">
				<input required name="plate" class="form-control" id="plate-input" style="display:inline-block" placeholder="License Plate Number">
				<div class="input-group-append">
					<input style="display:inline-block; background-color: #76C893; color: white;" value="Go" type="submit" class="btn">
				</div>
			</div>
		</form>
		<br>
		<p><b>Or</b> your Car's VIN Number</p>
		<form method="GET" action="/results" style="margin-bottom:-12px">
			<div class="input-group mb-3">
				<input required name="vin" class="form-control" id="vin-input" style="display:inline-block" placeholder="Vin Number">
				<div class="input-group-append">
					<input style="display:inline-block; background-color: #76C893; color: white;" value="Go" type="submit" class="btn">
				</div>
			</div>
		</form>
		<br>
		<p><b>Or</b> Upload a Picture of your License Plate</p>
		<form method="POST" action="/results" style="margin-bottom:-12px" enctype="multipart/form-data">
			<div class="input-group mb-3">
				<input required name="imgfile" type="file" id="imgfile-input" style="display:inline-block">
				<div class="input-group-append">
					<input style="display:inline-block; background-color: #76C893; color: white;" value="Go" type="submit" class="btn">
				</div>
			</div>
		</form>
        </div>
    </div>
</body>
<script>
//use of ajax
    function getData() {
        var vin = document.querySelector("#vin-input").value
	
        $.ajax({
            url: '/postData/' + vin,
            success: function (data) {
                console.log(data)
            },
            type: 'GET'
        });
    }
</script>
{% endblock %}
